@import url('../../App.module.css');

.experiencias .temaEscuro {background-color: #393838;}

.experiencias .temaClaro {background-color: white;}

.conteudoExperiencias {
    text-align: center;
    padding: 50px 0;
}

.conteudoExperiencias h2 {
    font-size: 26px;
    margin-bottom: 40px;
    padding-bottom: 12px;
    position: relative;
}

.conteudoExperiencias h2::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100px;
    height: 4px;
    background-color: #feb633;
}

.conteudoExperiencias p {color: #8a8fa3;}

.temaEscuro h2 {
    color: #f6f8fc;
}

.cardsContainer {
    display: flex;
    margin: 40px 0px;
    flex-wrap: wrap;
    justify-content: center;
}